<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- Enable Annotation based Declarative Transaction Management -->
	<tx:annotation-driven proxy-target-class="true"
						  transaction-manager="transactionManager" />

	<context:annotation-config/>

	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

	<!--DataSourceTransactionManager &ndash;&gt;-->
	<!--You need this for Transaction annotation-->
	<bean id="transactionManager"
		  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>


	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://localhost:5432/debtdb" />
		<property name="username" value="username2" />
		<property name="password" value="password2" />
	</bean>

	<bean id="sessionFactory"
		  class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation">
			<value>classpath:hibernate.cfg.xml</value>
		</property>
	</bean>

	<!--ADAPTER-->
		<bean id="ProductTypeSettingAdapter" class="com.journaldev.adapter.ProductTypeSettingAdapterImpl" />
	<!--/ADAPTER-->

	<!--DAOS-->
		<bean id="customerDAO" class="com.journaldev.dao.CustomerDAOImpl"/>
		<bean id="productDAO" class="com.journaldev.dao.ProductDAOImpl"/>
		<bean id="productTypeSettingDAO" class="com.journaldev.dao.ProductTypeSettingDAOImpl"/>
		<bean id="productSettingDAO" class="com.journaldev.dao.ProductSettingDAOImpl"/>
		<bean id="settingTypeDAO" class="com.journaldev.dao.SettingTypeDAOImpl"/>
	<!--/DAOS-->

	<!--ENTITY-->
	<!--/ENTITY-->

	<!--FACTORY-->
		<bean id = "entityFacotry" class = "com.journaldev.factory.EntityFactoryImpl"/>
	<!--/FACTORY-->

	<!--MANAGER-->
		<bean id="productManager" class="com.journaldev.manager.ProductManagerImpl"/>
		<bean id="productSettingManager" class="com.journaldev.manager.ProductSettingManagerImpl"/>
	<!--/MANAGER-->

	<!--TEST DEPENDENCIES-->
		<bean id = "daoTestDependencies" class = "com.journaldev.test.DAOTestDependencies"/>
		<bean id = "managerTestDependencies" class = "com.journaldev.test.ManagerTestDependencies"/>
		<bean id = "entityTestDependencies" class = "com.journaldev.test.EntityTestDependencies"/>
		<bean id = "otherTestDependencies" class="com.journaldev.test.OtherTestDependencies"/>
	<!--/TEST DEPENDENCIES-->

	<!--OTHER-->
		<bean id= "decisionSystem" class="com.journaldev.other.DecisionSystemImpl" />
		<bean id= "loanTransformer" class="com.journaldev.other.LoanTransformerImpl" />
	<!--/OTHER-->


</beans>
